<div class="barre">
    <input class="Nouvel_Individu" type="submit" id="new_Ind" value="Créer un nouvel individu" onclick="location.href='/referentielCreerIndividu';">
    <input class="Modif_Individu" type="submit" id="Modif_Ind" value="Modifier les informations d'un individu" onclick="location.href='/referentielModifIndividu';">
    <input class="Nouvel_Article"  type="submit" id="New_Art" value="Créer un nouvel article" onclick="location.href='/referentielCreerArticle';">
    <input class="Modif_Article"  type="submit" id="Modif_Art" value="Modifier un article" onclick="location.href='/referentielModifArticle';">
</div>