<div class="barre">
    <input class="Recherche_Ind" id="R_Ind" type="submit" value="Rechercher Individu" onclick="location.href='/rechercheInd';">
    <input class="Recherche_Art" id="R_Art" type="submit" value="Recherche Article" onclick="location.href='/rechercheArt';">
</div>