<div class="barre">
    <input class="creerPub" id="creer" type="submit" value="Créer une nouvelle cible de routage" onclick="location.href='/creationCiblederoutage';">
    <input class="ModifPub" id="Modif" type="submit" value="Visualiser les cibles de routages refusées" onclick="location.href='/ciblederoutageRefuses';">
    <input class="valPub" id="val" type="submit" value="Valider une cible de routage" onclick="location.href='/validationCiblederoutage';">    
    <input class="recupPub" id="recup" type="submit" value="Envoyer une publicité" onclick="location.href='/envoyerPublicite';">
</div>