<nav>
    <div class="my_menu">
        <input class="Menu" type="button" value="Menu" onclick="fonction_Menu()">
        <div id="deroule_Menu" class="Contenu_Menu">
            <a href="/referentiel">Administration du référentiel</a>
            <a href="/commandes">Saisies des commandes</a>
            <a href="/rechercheAnomalies">Gestion des anomalies</a>
            <a href="/prospection">Prospection</a>
        </div>
    </div>
    <a href="/acceuil"><img id="logo" src="../Logo_Fenouil.png" alt="Logo Fenouil" ></a>
    <h1 class="Titre"><%= title %></h1>
    <input class="Recherche" type="button" value="Recherche" onclick="location.href='/recherche';">
    <form action="/logout?_method=DELETE" method="POST">
      <button type="submit" class="Identifiant">Déconnexion</button>
    </form>      
</nav>

<script>
    function fonction_Menu(){
        document.getElementById("deroule_Menu").classList.toggle("show");
    }
    window.onclick = function(event) {
  if (!event.target.matches('.Menu')) {
    var dropdowns = document.getElementsByClassName("Contenu_Menu");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>