<nav>
    <input class="Menu" type="button" value="Menu">
    <a href="/acceuil"><img id="logo" src="Fenouille.png" alt="Logo Fenouil" ></a>
    <h1 class="Titre"><%= title %></h1>
    <input class="Recherche" type="button" value="Recherche" onclick="location.href='/recherche';">
    <input class="Identifiant" type="button" value="Déconnexion" onclick="location.href='/';">        
</nav>