<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <div clas="not-found content">
        <h1>404 - OUPS !</h1>
        <h2>Cette page n'existe pas :/</h2>
    </div>

</body>
</html>