<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    
    <input class="Anomalies" type="button" value="Gestion des anomalies" onclick="location.href='/rechercheAnomalies';">
    <input class="Prospection" type="button" value="Prospection" onclick="location.href='/prospection';">
    <input type="button" class="Referentiel" value="Administration du référentiel" onclick="location.href='/referentiel';">
    <input class="Commandes" type="button" value="Saisie des Commandes" onclick="location.href='/commandes';">
    
    <%- include('./partials/footer.ejs') %>

</body>
</html>
