<!DOCTYPE html>
<html lang="en">
    
    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
    <div class="barre">
        <input class="Nouvel_Commande" type="submit" value="Créer une nouvelle Commande" onclick="Nouvel_Commande()">
        <input class="Recherche_Commande" type="submit" value="Compléter une Commande" onclick="Recherche_Commande()">
    </div>

    <div class="page"  >
        <form action="" id='choix'>
            <div id='articles'></div>
        </form>
        
    </div>
    <script>
        function Nouvel_Commande(){
            // const articles = document.getElementById('articles');
            const choix = document.getElementById('choix');
            choix.innerHTML= "<div id='articles'><input class='numberArt' type='button' value=1 ><label class=>Référence</label><input type='text'> <label>Quantité</label> <input type='number'></div>";
            choix.insertAdjacentHTML('afterbegin',"<label class='titre'>Individu</label> <input class='titre' type='text'> <label class='titre'>Article(s):</label> <input type='button' value='+' placeholder='+' onclick='Ajout_Article()'>")
            // articles.insertAdjacentHTML('afterbegin',"<input class:'numberArt' type='button' value='1'><label>Reference</label><input type='text'> <label>Quantité</label> <input type='number'>")
            choix.insertAdjacentHTML('beforeend',"<label class='titre'>Réglement:</label> <input id='cheque' type='checkbox' onclick='paiementCheque()'><label>Chèque</label><input id='carte' type='checkbox' onclick='paiementCarte()'><label>Carte Bancaire</label> <div id='paiementElements'></div>")
        }

        function Ajout_Article(){
            const nbArt = document.getElementsByClassName("numberArt").length+1;
            const articles = document.getElementById('articles');
            articles.insertAdjacentHTML('beforeend',"<input class='numberArt' type='button' value="+nbArt+"><label>Référence</label><input type='text'> <label>Quantité</label> <input type='number'>")
        }

        function Recherche_Commande(){
            choix.innerHTML= "";
            choix.insertAdjacentHTML('afterbegin'," <form action:'' method:'POST'><label>Numéro commande</label><input type='text'><input type='submit' value='Rechercher'> </form>")
        }
        
        function paiementCarte(){
            const carte = document.getElementById('carte')
            const paiementElements = document.getElementById('paiementElements')
            const cheque = document.getElementById('cheque')
            if(carte.checked){
                cheque.checked=false;
                paiementElements.innerHTML="";
                paiementElements.insertAdjacentHTML('beforeend',"<label>Numéro carte</label><input type='text'><label>Date d'expiration</label><input type='text'> ")
            }
            if(!carte.checked){
                paiementElements.innerHTML="";
            }
        }
        
        function paiementCheque(){
            if(cheque.checked){
                carte.checked=false;
                paiementElements.innerHTML="";
                paiementElements.insertAdjacentHTML('beforeend',"<label>Numéro chèque</label><input type='text'><label>Banque</label><input type='text'> ")
            }
            if(!cheque.checked){
                paiementElements.innerHTML="";
            }
        }

    </script>
    <%- include('./partials/footer.ejs') %>

</body>
</html>