<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page de connexion</title>
    <link rel="stylesheet" href="Connexion.css">
    
</head>
<body>    
    <form class="conteneur" action="/" method="POST">
        <img src="Logo_Fenouil.png"/>
        <input id="Id" name="identifiant" type="text" placeholder="Identifiant" required>
        <input id="password" name="mdp" type="password" placeholder="Mot de passe" required>
        <input class="submit" type="submit" value="Connexion"> 
    </form>
    <% if (messages.error){ %>
        <div class="erreur"><img src="panneauErreur.png" alt="">
            <%= messages.error %>
        </div>
    <% } %>
</body>
</html>