<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="newIndividu content">
        <!--Send post request from /blogs-->
        <form action="/acceuil" method="POST">
            <label for="nom">Nom :</label>
            <input type="text" id="nom" name="nom" required>
            <label for="prenom">Prénom :</label>
            <input type="text" id="prenom" name="prenom" required>
            <label for="dateNaissance">Date de naissance :</label>
            <input type="text" id="dateNaissance" name="dateNaissance" required>
            <button>Submit</button>
        </form>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>