<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>

    <div class="barre">
        <input class="Nouvel_Article" type="submit" value="Créer un nouvel article" onclick="Nouvel_Article()">
        <input class="Modif_Article" type="submit" value="Modifier un article" onclick="Recherche_Article()">
        <input type="submit" class="Nouvel_Individu" value="Créer un nouvel individu" onclick="Nouvel_Individu()">
        <input class="Modif_Individu" type="submit" value="Modifier les informat d'un individu" onclick="Recherche_Individu()">

        <!--<a href="/referentiel/newIndividu"></a>-->
    </div>
    <script>
        function Nouvel_Article(){
            const choix=document.getElementById('choix')
            choix.innerHTML= "";
            let on = document.getElementsByClassName("Nouvel_Article");
            //on.classList.add("on");
            choix.insertAdjacentHTML('afterbegin',"<form action:'/referenciel'method='POST'><label>Désignation*</label><input type='text' required><label >prix de vente (€)*</label><input type='number' required> <label>Description</label><input type='text'><input type='submit' value='Créer un nouvel Article'></form>");
        }

        function Recherche_Article(){
            choix.innerHTML= "";
            choix.insertAdjacentHTML('afterbegin',"<form action:''method='POST' class='ReshearchArt'><label>Numéro unique</label><input type='number'><label >Désignation</label><input type='text'><input type='submit' value='Rechercher'>");
        }

        function Nouvel_Individu(){
            choix.innerHTML= "";
            choix.insertAdjacentHTML('afterbegin',"<form class='NewI' action:''method='POST'><label class='Col1'>Nom*</label><input class='Col1' type='text' required><label class='Col2'>Prénom*</label><input class='Col2' type='text' required> <label>Date de Naissance*</label><input type='text' required><label>Catégorie socio-professionnelle*</label><SELECT name='nom' size='1'><OPTION>Catégorie<OPTION>Agriculteurs exploitants<OPTION>Artisans. commerçants. chefs entreprise<OPTION>Cadres et professions intellectuelles supérieures<OPTION>Professions intermédiaires<OPTION>Employés<OPTION>Ouvriers<OPTION>Retraités<OPTION>Autres</SELECT><label>Adresse*</label><input class='Col1' type='text' placeholder='N° de voie'><input class='Col2' type='text' placeholder='Nom de la Voie'><input class='Col1' type='text' placeholder='Code postal'><input class='Col2'type='text' placeholder='Ville'><input type='text' placeholder='Complément d`adresse'><label class='Col1'>Numéro de téléphone</label><input class='Col1' type='text'><label class='Col2'>Adresse mail</label><input class='Col2' type='text'><input type='submit' value='Créer un nouvel Individu'></form>");
        }

        function Recherche_Individu(){
            choix.innerHTML= "";
            choix.insertAdjacentHTML('afterbegin'," <form class='' action:'' method:'POST'><label>Nom</label><input type='text'><label >Prénom</label><input type='text'> <label>Date de Naissance</label><input type='text'><input type='submit' value='Rechercher'></form>")
        }


    </script>

    <div class="page" id='choix'></div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>
