@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
 body{
   display:grid;
   grid-template-columns: [head-start com-start anom-start foot-start menu-start] 1fr [menu-end logo-start] 1fr [logo-end] 1fr [com-end anom-end ref-start cible-start] 1fr [search-start]1fr[search-end id-start] 1fr [id-end ref-end cible-end foot-end head-end];
   grid-template-rows:[head-start menu-start logo-start search-start id-start]1fr [head-end menu-end logo-end search-end id-end com-start ref-start] 4fr [com-end ref-end anom-start cible-start] 4fr [anom-end cible-end foot-start] 1fr [foot-end] ;
   grid-row-gap:40px;
   grid-column-gap: 40px;

   width: 100vw;
   height:100vh;
   margin: 0px;
   padding: 0px;
   background-color: rgb(131, 172,129);
}

/*les classes et éléments suivant jusqu'au footer seront commun à tous les css des autres pages*/
 nav img{
    width: 200px;
    padding-top: 30px;
 }

 nav{
    grid-area: head-start/head-start/head-end/head-end;
    display: grid;
    grid-template-columns:[menu-start] 1fr [menu-end logo-start] 1fr [logo-end titre-start] 2fr [titre-end search-start] 1fr [search-end id-start] 1fr [id-end];
    grid-template-rows: [head-start] 100px [head-end];
    grid-gap:10px;
    padding: 10px;

    background-color: white;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
  }

 .Recherche{
    grid-area: head-start/search-start/head-end/search-end;
    margin:30px;
    background-color:rgb(137, 197, 107);
  }

 .Identifiant{
    grid-area: head-start/id-start/head-end/id-end;
    margin:30px;
    background-color:rgb(137, 197, 107);
  }

  .Menu{
    grid-area:head-start/menu-start/head-end/menu-end;
    margin: 30px;
    margin-left:50px;
    margin-right: 50px;
    background-color:rgb(137, 197, 107);
  }

  footer{
    grid-area: foot-start/foot-start/foot-end/foot-end;
    color: rgb(255, 255, 255);
    text-align: center;
  }

/* titre à modifier pour chaque fonctionnalité*/
  .Titre{
    grid-area:head-start/titre-start/head-end/titre-end;
    text-align:center;
    margin:0px;
    align-self: end;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
  }

  .Referentiel,.Anomalies,.Commandes,.Prospection{
    line-height: 2.5;
    font-size: 1rem;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
  }

  .Referentiel:hover,.Anomalies:hover,.Commandes:hover,.Prospection:hover{
    border: #000;
  }

  .Anomalies{
    grid-area:anom-start/logo-start/anom-end/anom-end;
    background-color: rgba(97, 189, 100, 1);
  }

  .Commandes{
    grid-area: com-start/logo-start/com-end/com-end;
    background-color: rgba(197, 230, 180, 1);
  }

  .Prospection{
    grid-area: cible-start/cible-start/cible-end/search-end;
    background-color: rgba(226, 260, 217, 1);
  }

  .Referentiel{
    grid-area: ref-start/ref-start/ref-end/search-end;
    background-color: rgba(169, 215, 142, 1);
  }
