@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: rgb(131, 172, 129);
    display: grid;
    grid-template-columns: [head-start barre-start page-start foot-start] 1fr [head-end barre-end page-end foot-end];
    grid-template-rows: [head-start] 2fr [head-end barre-start] 1fr [barre-end page-start] 10fr [page-end foot-start] 1fr [foot-end];
}

nav img {
    width: 200px;
    padding-top: 30px;
}

nav {
    grid-area: head-start/head-start/head-end/head-end;
    display: grid;
    grid-template-columns: [menu-start] 1fr [menu-end logo-start] 1fr [logo-end titre-start] 2fr [titre-end search-start] 1fr [search-end id-start] 1fr [id-end];
    grid-template-rows: [head-start] 100px [head-end];
    grid-gap: 10px;
    padding: 10px;
    background-color: white;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
}

.Recherche {
    grid-area: head-start/search-start/head-end/search-end;
    margin: 30px;
    background-color: rgb(137, 197, 107);
}

.Identifiant{
    grid-area: head-start/id-start/head-end/id-end;
    margin:31px;
    padding:9px;
    background-color:rgb(137, 197, 107);
  }

.Menu {
    grid-area: head-start/menu-start/head-end/menu-end;
    margin: 30px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgb(137, 197, 107);
    cursor: pointer;
}

.Menu:hover,
.Menu:focus {
    background-color: rgb(109, 160, 84);
}

.my_menu {
    position: relative;
    display: inline-block;
}

.Contenu_Menu {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.Contenu_Menu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Menu a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

footer {
    grid-area: foot-start/foot-start/foot-end/foot-end;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 15px;
}


/* titre à modifier pour chaque fonctionnalité*/

.Titre {
    grid-area: head-start/titre-start/head-end/titre-end;
    text-align: center;
    margin: 0px;
    align-self: end;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}

.barre {
    grid-area: barre-start/barre-start/barre-end/barre-end;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 50px;
    align-items: stretch;
    background-color: rgb(60, 131, 55);
    height: 50px;
}


/* .courrier,
.Recherche_Anomalie {
    width: 100%;
    background-color: rgb(60, 131, 55);
} */

.courrier:focus,
.Recherche_Anomalie:focus,
.on {
    background-color: rgb(238, 244, 234);
}


/*Ne surtout PAS ACTIVER le code si dessous, sinon on ne peut plus input les données!!!!!*/


/* .page {
    grid-area: page-start/page-start/page-end/page-end;
} */

#R_An{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: auto;
    grid-row-gap: 15px;
    grid-column-gap: 5px;
    margin: 4% auto;
    grid-auto-flow: dense;
}

form>label,
form>input,
form>select {
    grid-column: 2/4;
    margin: auto 15%;
}

form>input[type="submit"] {
    width: 200px;
    height: 40px;
    background-color: #f6f8f6;
    border-radius: 5px;
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

p,
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}