<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/nav.ejs') %>

            <div class="barre">
                <input class="Nouvel_Individu" type="submit" id="new_Ind" value="Créer un nouvel individu" onclick="Cindividu()">
                <input class="Modif_Individu" type="submit" id="Modif_Ind" value="Modifier les informations d'un individu" onclick="Mindividu()">
                <input class="Nouvel_Article" type="submit" id="New_Art" value="Créer un nouvel article">
                <input class="Modif_Article" type="submit" id="Modif_Art" value="Modifier un article" onclick="Marticle()">
                <!--<a href="/referentiel/newIndividu"></a>-->
            </div>

            <div class="page" id='choix'>
                <form action='/referentiel/CreerArticle' method='POST' enctype="multipart/form-data">
                    <label>Désignation*</label>
                    <input type='text' name='designation' required>
                    <label>Prix de vente (€)*</label>
                    <input type='number' name='prix' min='0.00' step='0.01' required>
                    <label>Image</label>
                    <input type="file" name="image" required>
                    <label>Description</label>
                    <textarea type='text' name='description' required><%= article.descritpion %></textarea>
                    <input type='submit' value='Créer un nouvel Article'>
                </form>
            </div>

            <script>
                let on_New_Article = document.getElementById("New_Art");
                on_New_Article.classList.add("on");

                // let on_Nouvel_Article = document.getElementById("New_Art");
                // let on_Modif_Article = document.getElementById("Modif_Art");
                // const choix = document.getElementById('choix')

                // choix.innerHTML = "";
                // on_Nouvel_Article.classList.add("on");
                // on_Modif_Article.classList.remove("on");
                // choix.insertAdjacentHTML('afterbegin', "<form action:'/referentiel' method='POST'><label>Désignation*</label><input type='text' name='designation' required><label>Prix de vente (€)*</label><input type='number' name='prix' min='0.00' step='0.01' required> <label>Description</label><input type='text' name='description'><input type='submit' value='Créer un nouvel Article'></form>");

                function Marticle() {
                    location.replace("http://localhost:3000/referentielModifArticle")
                }

                function Cindividu() {
                    location.replace("http://localhost:3000/referentiel/CreerIndividu")
                }

                function Mindividu() {
                    location.replace("http://localhost:3000/referentielModifIndividu")
                }

                // function Nouvel_Article() {
                //     const choix = document.getElementById('choix')
                //     choix.innerHTML = "";
                //     on_Nouvel_Article.classList.add("on");
                //     on_Modif_Article.classList.remove("on");
                //     choix.insertAdjacentHTML('afterbegin', "<form action:'/referentiel' method='POST'><label>Désignation*</label><input type='text' name='designation' required><label>Prix de vente (€)*</label><input type='number' name='prix' min='0.00' step='0.01' required> <label>Description</label><input type='text' name='description'><input type='submit' value='Créer un nouvel Article'></form>");
                // }

                // function Nouvel_Individu(){
                //     choix.innerHTML= "";
                //     choix.insertAdjacentHTML('afterbegin',"<form class='NewI' action:'/referentiel/Individu' method='POST'><label class='Col1'>Nom*</label><input class='Col1' type='text' name='nom' required><label class='Col2'>Prénom*</label><input class='Col2' type='text' name='prenom' required> <label>Date de Naissance*</label><input type='text' name='dateNaissance' required><label>Catégorie socio-professionnelle*</label><SELECT name='categoriePro' size='1'><OPTION>Catégorie<OPTION>Agriculteurs exploitants<OPTION>Artisans. commerçants. chefs entreprise<OPTION>Cadres et professions intellectuelles supérieures<OPTION>Professions intermédiaires<OPTION>Employés<OPTION>Ouvriers<OPTION>Retraités<OPTION>Autres</SELECT><label>Adresse*</label><input class='Col1' type='text' placeholder='N° de voie' name='adresseNum'><input class='Col2' type='text' placeholder='Nom de la Voie' name='adresseType'><input class='Col1' type='text' placeholder='Code postal' name='adresseCode'><input class='Col2'type='text' placeholder='Ville' name='adresseVille'><input type='text' placeholder='Complément d`adresse' name='adresseInfos'><label class='Col1'>Numéro de téléphone</label><input class='Col1' type='text' name='numeroTel'><label class='Col2'>Adresse mail</label><input class='Col2' type='text' name='adresseMail'><label>Caractéristique commerciale*</label><SELECT name='statut' size='1'><OPTION>Enregistré<OPTION>Prospect<OPTION>Client<OPTION>Client interdit</SELECT><input type='submit' value='Créer un nouvel Individu'></form>");
                // }

                // function Recherche_Individu(){
                //     choix.innerHTML= "";
                //     choix.insertAdjacentHTML('afterbegin'," <form class='' action:'/referentiel/Individu' method:'GET'><label>Nom</label><input type='text'><label >Prénom</label><input type='text'> <label>Date de Naissance</label><input type='text'><input type='submit' value='Rechercher'></form>")
                // }
            </script>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>