<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/nav.ejs') %>
        <%- include('../partials/barreAdminRef.ejs') %>

            <div class="page" id='choix'>
                <form class='NewI' action='/referentielCreerIndividu' method='POST'>
                    <label class='Col1'>Nom*</label>
                    <input class='Col1' type='text' name='nom' placeholder='NOM*' pattern='[-A-Z\s]{1,}' required>
                    <label class='Col2'>Prénom*</label>
                    <input class='Col2' type='text' name='prenom' placeholder='Prénom*' pattern='[A-Z]{1}[-A-z\sÜ-ü]{1,}' required>
                    <label>Date de Naissance*</label>
                    <input type='date' name='dateNaissance' placeholder='01/01/1950' required>
                    <label>Catégorie socio-professionnelle*</label>
                    <SELECT name='categoriePro' size='1' required>
                        <OPTION selected disabled>Catégorie<OPTION>Agriculteurs exploitants <OPTION>Artisans. commerçants. chefs entreprise<OPTION>Cadres et professions intellectuelles supérieures<OPTION>Professions intermédiaires<OPTION>Employés<OPTION>Ouvriers<OPTION>Retraités<OPTION>Étudiants<OPTION>Autres</SELECT>
                    <label>Adresse*</label>
                    <input class='Col1' type='text' placeholder='N° de voie*' name='adresseNum' pattern='[0-9]{1,3}' required>
                    <input class='Col2' type='text' placeholder='Nom de la Voie*' name='adresseType' pattern='[-A-z\sÜ-ü]*'required>
                    <input class='Col1' type='text' placeholder='Code postal*' pattern='[0-9]{5}' name='adresseCode' required>
                    <input class='Col2' type='text' placeholder='Ville*' name='adresseVille' pattern='(^[A-Z]{1}[-A-z\sÜ-ü]*)$' required>
                    <input type='text' placeholder='Complément d`adresse' name='adresseInfos'>
                    <label class='Col1'>Numéro de téléphone*</label>
                    <input class='Col1' type='tel' name='numeroTel' placeholder='0XXXXXXXXX' pattern='[0]{1}[0-9]{9}' required>
                    <label class='Col2'>Adresse mail</label>
                    <input class='Col2' type='email' name='adresseMail' placeholder='exemple@gmail.com'>
                    <label>Caractéristique commerciale*</label>
                    <SELECT name='statut' size='1' required>
                                                        <OPTION>Enregistré<OPTION>Prospect<OPTION>Client<OPTION>Client interdit</SELECT>
                    <input type='submit' value='Créer un nouvel Individu'>
                </form>
            </div>

            <script>
                let on_New_Individu = document.getElementById("new_Ind");
                on_New_Individu.classList.add("on");
            </script>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>