<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/nav.ejs') %>
        <%- include('../partials/barreAdminRef.ejs') %>

            <div class="page" id='choix'>
                <form action='/referentielCreerArticle' method='POST' enctype="multipart/form-data">
                    <label>Désignation*</label>
                    <input type='text' name='designation'placeholder='Désignation*' pattern='[A-Z]{1}[a-z]{1,}' required >
                    <label>Prix de vente (€)*</label>
                    <input type='number' name='prix' min='0.00' step='0.01' placeholder='0.00' required>
                    <label>Image</label>
                    <input type="file" name="image" required>
                    <label>Description</label>
                    <input type='text' name='description' required>
                    <input type='submit' value='Créer un nouvel Article'>
                </form>
            </div>

            <script>
                let on_New_Article = document.getElementById("New_Art");
                on_New_Article.classList.add("on");
            </script>

            <%- include('../partials/footer.ejs') %>

    </body>

</html>